[submodule "misc/git-submodules/https/child"]
	path = misc/git-submodules/https/child
	url = https://github.com/env0/templates-git-submodule
[submodule "misc/git-submodules/ssh/child"]
	path = misc/git-submodules/ssh/child
	url = ssh://git@github.com/env0/templates-git-submodule
[submodule "misc/git-submodules/relative/child"]
	path = misc/git-submodules/relative/child
	url = ../templates-git-submodule
