[submodule "misc/git-submodules/https/child"]
	path = misc/git-submodules/https/child
	url = https://github.com/plcha/templates-git-submodule
[submodule "misc/git-submodules/relative/child"]
	path = misc/git-submodules/relative/child
	url = ../templates-git-submodule
